@charset "utf-8";
/* CSS Document */

/* ====== Instructions Background === */
div.bkg_instructions
{
	/*position:absolute;
	top:0px;
	left:0px;*/
	margin:0;
	padding:0;
}

div.bkg_instructions_1
{
	/*position:absolute;
	top:0px;
	left:0px;*/
	width:520px;
	height:188px;
	background-image:url(../images/instructions/bkg_i_1.jpg);
	background-repeat:no-repeat;
}

div.bkg_instructions_2
{
	/*position:absolute;
	top:188px;
	left:0px;*/
	width:520px;
	height:187px;
	background-image:url(../images/instructions/bkg_i_2.jpg);
	background-repeat:no-repeat;
}


/* ===== FB freinds List ==== */
div.fb_friends
{
	position:absolute;
	top:75px;
	left:20px;
}

div.fb_friends ul li
{
	display:inline-block;
}

div.profile_frame
{
	background-image:url(../images/fb_profile_frame.png);
	background-repeat:no-repeat;
	width:70px;
	padding:3px 0 0 5px;
	height:86px;
}



/* ======= Facebook Invite ===== */
div.invite_friends
{
	position:absolute;
	left:340px;
	top:85px;
}

a.invite_friends_link
{
	display:block;
	width:108px;
	height:38px;
	background:url("../images/invite.png") no-repeat 0 0;
}

a.invite_friends_link:hover
{
	background-position: 0 -38px;
}


/* ======= Facebook share ===== */
div.fb_share_game
{
	position:absolute;
	left:390px;
	top:390px;
}


/* ====== Camera Background ==== */
div.camera_bkg
{
	position:absolute;
	top:375px;
	left:0px;
	width:520px;
	height:638px;
	background-image:url(../images/game_camera_background.png);
	background-repeat:no-repeat;
	
	z-index:0;
}
