@charset "utf-8";
/* CSS Document */

/*=== Reset styles ===*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}

ul
{
	list-style-type:none;
}


body
{
	width:520px;
	height:1500px;
	overflow-x:hidden;
	
}

.wrapper
{
	position:absolute;
	top:0px;
	left:0px;
	margin:0;
	padding:0;
	width:520px;
}


div.clear
{
	clear:both;
}


/* ====== Home Background === */
div.bkg_home
{
	position:absolute;
	top:0px;
	left:0px;
	margin:0;
	padding:0;
}

div.bkg_home_1
{
	position:absolute;
	top:0px;
	left:0px;
	width:520px;
	height:245px;
	background-image:url(../images/home_bkg/bkg1_1.jpg);
	background-repeat:no-repeat;
}

div.bkg_home_2
{
	position:absolute;
	top:245px;
	left:0px;
	width:520px;
	height:351px;
	background-image:url(../images/home_bkg/bkg1_2.jpg);
	background-repeat:no-repeat;
}

div.bkg_home_3
{
	position:absolute;
	top:596px;
	left:0px;
	width:520px;
	height:214px;
	background-image:url(../images/home_bkg/bkg1_3.jpg);
	background-repeat:no-repeat;
}


div.bkg_home_4
{
	position:absolute;
	top:810px;
	left:0px;
	width:520px;
	height:252px;
	background-image:url(../images/home_bkg/bkg1_4.jpg);
	background-repeat:no-repeat;
}

div.bkg_home_5
{
	position:absolute;
	top:1062px;
	left:0px;
	width:520px;
	height:257px;
	background-image:url(../images/home_bkg/bkg1_5.jpg);
	background-repeat:no-repeat;
}



/* ======= Facebook share ===== */
div.fb_share
{
	position:absolute;
	left:390px;
	top:10px;
}

a.fb_share_link
{
	display:block;
	width:117px;
	height:63px;
	background:url("../images/share.png") no-repeat 0 0;
}

a.fb_share_link:hover
{
	background-position: 0 -63px;
}


/* ======= Snap to Win ===== */
div.snap_win
{
	position:absolute;
	left:20px;
	top:500px;
}

a.snap_win_link
{
	display:block;
	width:133px;
	height:46px;
	background:url("../images/snap.png") no-repeat 0 0;
}

a.snap_win_link:hover
{
	background-position: 0 -46px;
}


/* ===== T and C ==== */
div.t_c
{
	position:absolute;
	top:1100px;
	font-family:Arial;
	font-size:10px;
	color:#b9bcbe;
	left:190px;
}

div.t_c a
{
	font-family:Arial;
	font-size:10px;
	color:#b9bcbe;
	text-decoration:none;
}

div.t_c a:hover
{
	text-decoration:underline;
}



/* ===== Weekly winner ===*/
div.weekly_winner
{
	position:absolute;
	top:1100px;
}


div.weekly_winner ul
{
	margin:0 0 0 20px;
}

div.weekly_winner ul li
{
	display:inline-block;
	padding-right:15px;
}

div.weekly_winner ul li div span
{
	font-family:Arial;
	font-size:9px;
}

/* ==== Registration Form ===*/
div.reg_form_container
{
	background:url(../images/black.png) repeat center top; 
	width:520px; 
	height:1050px;
	position:absolute;
	
	display:none;
}

div.reg_form
{
	background:url(../images/reg_form_bkg.png);
	background-repeat:no-repeat;
	width:363px;
	height:367px;
	
	position:absolute;
	top:450px;
	left:80px;
}


div.reg_form_close
{
	position:absolute;
	left:340px;
	top:-5px;
}


div.form
{
	position:absolute;
	left:20px;
	top:140px;
	
	font-family:Helvetica;
}


/*====== Lose Div pop up ======*/
div.lose_container
{
	background:url(../images/lose_bkg.png);
	background-repeat:no-repeat;
	width:453px;
	height:424px;
	
	position:absolute;
	top:100px;
	left:20px;
}



div.tips_container
{
	background:url(../images/tips_bkg.png);
	background-repeat:no-repeat;
	width:371px;
	height:126px;
	
	margin:190px 0 0 60px;
}


div.lose_ttl
{
	padding:8px;
}

div.share_tips
{
	margin:0px 0 0 180px;
}


/*====== Lose b4 Invite Div pop up ======*/
div.lose_b4_container
{
	background:url(../images/lose_b4_invite_bkg.png);
	background-repeat:no-repeat;
	width:428px;
	height:469px;
	
	position:absolute;
	top:100px;
	left:20px;
}


div.invite_friends_lose
{
	position:absolute;
	top:350px;
	left:165px
}

a.invite_friends_lose_link
{
	display:block;
	width:110px;
	height:41px;
	background:url("../images/invite_v1.png") no-repeat 0 0;
}

a.invite_friends_lose_link:hover
{
	background-position: 0 -41px;
}


/*====== Win Div pop up ======*/
div.win_container
{
	background:url(../images/win.png);
	background-repeat:no-repeat;
	width:473px;
	height:441px;
	
	position:absolute;
	top:100px;
	left:20px;
}


div.invite_friends_lose
{
	position:absolute;
	top:350px;
	left:165px
}

a.invite_friends_lose_link
{
	display:block;
	width:110px;
	height:41px;
	background:url("../images/invite_v1.png") no-repeat 0 0;
}

a.invite_friends_lose_link:hover
{
	background-position: 0 -41px;
}


/* ===== FB freinds List in win div popup ==== */
div.fb_friends_popup
{
	position:absolute;
	top:140px;
	left:130px;
}

div.fb_friends_popup ul li
{
	display:inline-block;
}

div.profile_frame_win
{
	background-color:#FFFFFF;
	width:64px;
	margin:0 0 0 5px;
	padding:2px 2px 5px 2px;
	height:70px;
}

div.fb_share_win
{
	position:absolute;
	top:320px;
	left:190px
}

/*====== Win b4 Invite Div pop up ======*/
div.win_b4_invite_container
{
	background:url(../images/win_invite.png);
	background-repeat:no-repeat;
	width:418px;
	height:465px;
	
	position:absolute;
	top:100px;
	left:20px;
}


div.invite_friends_win
{
	position:absolute;
	top:350px;
	left:165px
}

a.invite_friends_win_link
{
	display:block;
	width:110px;
	height:41px;
	background:url("../images/invite_v1.png") no-repeat 0 0;
}

a.invite_friends_win_link:hover
{
	background-position: 0 -41px;
}